PORT=5000
MONGO_URI=mongodb+srv://jayminmakwana_db_user:ZynGK4SAJmakuD12@cluster0.rxtknpf.mongodb.net/task_management?retryWrites=true&w=majority
JWT_ACCESS_SECRET=access_secret_here_change
JWT_REFRESH_SECRET=refresh_secret_here_change
ACCESS_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
COOKIE_SECURE=false
NODE_ENV=development
